body {
	/*background-image: url("beer.jpg");*/
	background-color: #feb801;
	background-size: cover;
	font-family: Ubuntu;
	font-size: 12pt;
	margin: 0;
	padding: 0;
	
	overflow: hidden;
}

header {
	width: 100%;
	background-color: white;
	padding: 0;
	z-index: -2;
	position: relative;
	/*
	background-image: url("foam.png");
	background-size: cover;
	*/
}

h1 {
	text-align: center;
	font-size: 48pt;
	padding: 0.4em;
	font-family: Ubuntu;
	font-weight: lighter;
	margin: 0;
	background-color: white;
}


/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

.waves {
	height: 5em;
	width: 100%;
	margin-bottom:-7px;
	position: relative;
	z-index: -1;
}

.searchbox {
	display: block;
	margin: 0.5em auto;
	margin-top: -3em;
	height: 2em;
	font-size: 18pt;
	padding: 1em;
	position: relative;
	background-color: rgba(255,255,255,0.4);
	border: none;
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.8) 0 0 0.3em;
}

.applist {
	max-width: 768px;
	margin: auto;
	margin-top: 1em;
	overflow-y: scroll;
	height: 37em;
}

.applist ul {
	list-style-type: none;
	padding: 0;
}

.applist li {
	/*border: 0.1em solid #ddd;*/
	height: 6em;
	margin: 1em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	
	background-color: white;
	border-radius: 1em;
}

.applist button {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	height: 100%;
	width: 100%;
	font: inherit;
	text-align: inherit;
	cursor: pointer;

	padding-right: 1em;
}

.applist button:hover, .applist button:focus {
	background-color: #b9e3f7;
}

.applist li img {
	float: left;
	padding: 1em;
	width: 4em;
	height: 4em;
}

.applist li h3 {
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 0;
}

.applist li h3 span {
	color: grey;
	font-weight: lighter;
}

.applist li p {
	margin-top: 0.8em;
	text-overflow: ellipsis;
	overflow: hidden;
}

/*.bubble::before {
	content: "⭘"
}*/

.bubble {
	width: 2em;
	height: 2em;
	background-image: url("bubble.png");
	background-size: cover;
	/*color: white;*/
	/*border-radius: 2em;
	border: 0.3em solid rgba(255,255,255,0.5);*/
	position: absolute;
	visibility: hidden;
	z-index: -1;
	
	/* animation: bubbleup 3s infinite, bubblewobble 1s ease-in-out infinite; */
}

@keyframes bubbleup{
	from {
		top: 720px;
		visibility: visible;
	}
	to {
		top: 0px;
		visibility: visible;
	}
}

@keyframes bubblewobble{
	from {
		margin-left: 0;
	}
	50% {
		margin-left: 20px;
	}
	to {
		margin-left: 0;
	}
}

.app-modal {
	display: none;
	position: fixed;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	padding-top: 10em;
}

.app-modal > div {
	background-color: white;
	box-shadow: rgba(0,0,0,0.8) 0 0 1em;
	border-radius: 2em;
	width: 768px;
	margin: auto;
	padding: 2em;
}

.app-modal img {
	float: left;
	margin: 0 2em 1em 0;
	width: 6em;
	height: 6em;
}

.app-modal h2 {
	margin-top: 0;
}

.app-modal button {
	float: right;
	background-color: #feb801;
	color: white;
	padding: 0.5em 1.5em;
	border-radius: 0.5em;
	font-weight: bold;
	border: none;
	/*text-shadow: 2px 2px 2px black;*/
	font-size: 20pt;
	box-shadow: rgba(0,0,0,0.8) 0 0 0.4em;
}

.app-modal-header p > strong {
	display: inline-block;
	width: 6em;
}

#log-window {
	position: fixed;
	color: white;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999999;
}
