.full-button {
    width: 100%;
    min-width: 95%;
}

.app-description {
    max-width: 100%;
    overflow: hidden;
    white-space: normal;
}

.app-description .rich-description {
    margin-top: -1em;
}

.app-description img {
    max-width: 100%;
}
