.full-button, .small.full-button {
    width: 100%;
    min-width: 95%;

    /* sizing adjustment... */
    margin-bottom: 8px;
}

.full-button.moon-progress-button {
    margin-bottom: 0px;
}

.app-description {
    max-width: 100%;
    overflow: hidden;
    white-space: normal;
}

.app-description .rich-description {
    margin-top: -1em;
}

.app-description img {
    max-width: 100%;
}
